<html>
	<head>
		<title>baidudl</title>

		<script src="/resource/angular.min.js"></script>
		<script src="/popup/controller.js"></script>
	</head>

	<body>
		<div id='app'ng-app="app" ng-csp ng-controller='control'>
			<table ng-hide='!status'>
				<tr>
					<td>File name</td>
					<td>Links</td>
					<td>High speed links</td>
				</tr>
				<tr ng-repeat="x in links">
					<td><input type='text' value={{x.path}} ng-disabled='true'></td>
					<td><input type='text' value={{x.dlink}} ng-disabled='true'></td>
					<td><input type='text' value={{x.hlink}} ng-disabled='true'></td>
					<td><button ng-click="generate($index)">Generate</button></td>
				</tr>
			</table>
			<p>{{message}}</p>
		</div>
	</body>
</html>

